header {
    background-image: url(../img/landscape.png);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: auto 50%;
}

@media screen and (max-width: 30em){
    header {
        background-size: auto 25%;
    }
}